<template name="about">
    <div class="about">
    	<h2>About</h2>
      <div class="about-chats">
        {{> chat author='kevin' comment='I made this because every year you see lists of Top X things to see/listen to but' html=true}}
        {{> chat author='kevin' comment='A. They\'re usually big long lists.' html=true}}
        {{> chat author='kevin' comment='B. You usually make a mental note to come back to them(and you never do)' html=true}}
        {{> chat author='kevin' comment='So this site is simple. One movie, one TV show, and one album that wraps up your year. Share with friends and enjoy the discovery. 😄' html=true}}
      </div>
    </div>
</template>