<template name="copyright">

	<div class="main-container mini bottom"> 
		<h3>Copyright</h3>
	</div>
	<div class="main-container feature bottom faq">
		<div class="question">
			<p>
				All materials contained on this site, including text, graphics, icons, still and moving images, sound recordings, musical compositions, audiovisual works and software, are the property of {{siteName}} or its content suppliers or service providers and are protected by United States and international copyright laws. The compilation of all content on this site is the exclusive property of {{siteName}}. You may not reproduce, modify, distribute or republish materials contained on this site (either directly or by linking) without our prior written permission. You may not alter or remove any trademark, copyright or other notice from copies of content.
				<br><br>
				All trademarks, service marks, trade names, trade dress, product names and logos appearing on the site are the property of their respective owners, including in some instances {{siteName}}. Any rights not expressly granted herein are reserved.
			</p>
		</div>
	</div>
	
</template>