<template name="layout">
  <div class="container layout-padding">
    {{> header}}
    <div id="main" class="row-fluid">
      {{> sAlert}}
      {{> yield}}
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      {{> footer}}
    </div>
  </footer>
</template>