.main-btn {
	width: 150px;
}

.main-jumbotron {
	text-align: center;
	color: white;
	background: linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    );
    // url("/images/music/adele.jpg");
	background-size: cover !important;
	// background-attachment: fixed !important;
	background-repeat: no-repeat !important;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main-latest {
	// @media (min-width: 768px) {
	// 		text-align: left;
	// 	}
	text-align: center;
}

.wodry {
	position: absolute;
}

.main-jumbotron-subtitle {
    width: 286px;
    text-align: left;
}

.social {
	font-size: 50px;
	padding-top: 20px;
}

.social:hover {
	text-decoration: none;
}

.social:link {
    text-decoration: none;
}

.social:visited {
    text-decoration: none;
}

.social:active {
    text-decoration: none;
}

.social-div {
	display: flex;
	justify-content: space-around;
	max-width: 200px;
	align-items: center;
	margin: 0 auto;
	height: 105px;
}