<template name="main">
	<div class="jumbotron main-jumbotron">
		<div>
            <h1>{{siteName}}</h1>
        </div>
        <div class="main-jumbotron-subtitle">
    		<h3>
                Share your favorite&nbsp;<span class="wodry">album|tv&nbsp;show|movie</span>
          	</h3>
        </div>
        <div>
            {{#if currentUser}}
            <a class="btn btn-primary btn-lg main-btn" id="register-buttons-password" href="{{pathFor 'wrapSubmit'}}">Add A Yearly</a>
            {{else}}
                <a class="btn btn-primary btn-lg main-btn" id="register-buttons-password" href="{{pathFor 'signup'}}" style="width:200px;">
                    SIGN UP
                </a>
            {{/if}}
        </div>
    </div>
    <h1>Latest</h1>
    <div class="main-latest">
        {{#each newest5}}
            <!-- {{> wrap_item}} -->
            {{> rundownItem data=this showHeader=true}}
        {{/each}}
        <a href="#" id="moreLatest" class="top-wrap-item">More...</a>
    </div>
    <div class="social-div">
        <a href="https://www.twitter.com/yearliesapp" class="fa fa-twitter social" target="_blank"></a>
        <a href="https://www.facebook.com/yearliesapp" class="fa fa-facebook social" target="_blank"></a>
    </div>
</template>