<template name="privacy">
	<div class="main-container mini bottom"> 
		<h3>Privacy Statement</h3>
	</div>
	<div class="main-container feature bottom faq">
		<div class="question">
			<h5>Your privacy is critically important to us. {{siteName}} has a few guiding principles:</h5>
			<p>
				Here at {{siteName}}, we take your security seriously
				<ol>
					<li>Your subscription usernames and passwords are encrypted locally before being sent to us so that no one over the wire can ever can access it.</li>
					<li>We don’t ask you for personal information unless we truly need it.</li>
					<li>We don’t share your personal information with anyone except to comply with the law, develop our products, or protect our rights.</li>
					<li>We don’t store personal information on our servers unless required for the on-going operation of one of our services.</li>
				</ol>
				Below is our privacy statement which incorporates these goals:
			</p>
		</div>
		<div class="question">
			<h5>Website Visitors</h5>
			<p>
				Like most website operators, {{siteName}} collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. {{siteName}}’s purpose in collecting non-personally identifying information is to better understand how {{siteName}}’s visitors use its website. From time to time, {{siteName}} may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
				<br><br>
				{{siteName}} also collects potentially personally-identifying information like Internet Protocol (IP) addresses. {{siteName}} does not use such information to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.
			</p>
		</div>
		<div class="question">
			<h5>Gathering of Personally-Identifying Information</h5>
			<p>
				Certain visitors to {{siteName}}’s websites choose to interact with {{siteName}} in ways that require {{siteName}} to gather personally-identifying information. The amount and type of information that {{siteName}} gathers depends on the nature of the interaction. For example, we ask visitors who sign up for an account at {{siteName}}.com to provide a user-name and email address. Those who engage in transactions with {{siteName}} are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, {{siteName}} collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor’s interaction with {{siteName}}. {{siteName}} does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.
			</p>
		</div>
		<div class="question">
			<h5>Use of personal data</h5>
			<p>
				{{siteName}} may collect aggregated statistics about the behavior of visitors to its websites. For instance, {{siteName}} may monitor the most popular website account on the {{siteName}}.com site. {{siteName}} may display this information publicly or provide it to others. In addition, {{siteName}} may use your behavioral data and other data you provide to {{siteName}} to customize advertisements on its site to its users. In this way we try to keep the majority of our services free. However, {{siteName}} does not disclose personally-identifying information other than as described below.
			</p>
		</div>
		<div class="question">
			<h5>Protection of Certain Personally-Identifying Information</h5>
			<p>
				{{siteName}} discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on {{siteName}}’s behalf or to provide services available at {{siteName}}’s websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using {{siteName}}’s websites, you consent to the transfer of such information to them. {{siteName}} will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, {{siteName}} discloses potentially personally-identifying and personally-identifying information only when required to do so by law, or when {{siteName}} believes in good faith that disclosure is reasonably necessary to protect the property or rights of {{siteName}}, third parties or the public at large. If you are a registered user of an {{siteName}} website and have supplied your email address, {{siteName}} may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with {{siteName}} and our products. We expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. {{siteName}} takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.
			</p>
		</div>
		<div class="question">
			<h5>Cookies</h5>
			<p>
				A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. {{siteName}} uses cookies to help {{siteName}} identify and track visitors, their usage of {{siteName}} website, and their website access preferences. {{siteName}} visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using {{siteName}}’s websites, with the drawback that certain features of {{siteName}}’s websites may not function properly without the aid of cookies.
			</p>
		</div>
		<div class="question">
			<h5>Privacy Statement Changes</h5>
			<p>
				Although most changes are likely to be minor, {{siteName}} may change its Privacy Statement from time to time, and in {{siteName}}’s sole discretion. {{siteName}} encourages visitors to frequently check this page for any changes to its Privacy Statement.
			</p>
		</div>
		<div class="question">
			<h5>This privacy statement available under a Creative Commons Share-alike license.</h5>
		</div>
	</div>
</template>