<template name="signin">
	<div class="signup">
		<form id="signin-form" action="action">
			<input id="signin-username" type="text" placeholder="Username" class="form-control">
			<input id="signin-password" type="password" placeholder="Password" class="form-control">
			<div class="create-button">
				<button class="btn btn-primary btn-block btn-lg" id="signin-buttons-password" type="submit">
					Sign in
				</button>
			</div>
		</form>
	</div>
</template>