<template name="signup_modal">
	<div class="modal fade bs-modal-md" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<form>
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						{{> signup}}
				    </div>
		    	</form>
			</div>
		</div>
	</div>
</template>