<template name="signup">
	{{#unless userSuccess}}
		<div class="signup">
			<h3>Sign up and start adding your yearlies!</h3>
			<a class="btn btn-default btn-block btn-lg" id="register-buttons-sign-in" href="{{pathFor 'signin'}}">
				Sign in
			</a>
			{{#each service}}
	            {{> _loginButtonsLoggedOutSingleLoginButton}}
			{{/each}}
			<span>or</span>
			<form>
					<input id="register-username" type="text" placeholder="Username" class="form-control">
					<input id="register-password" type="password" placeholder="Password" class="form-control">
					<input id="register-confirm-password" type="password" placeholder="Confirm Password" class="form-control">
					<div class="create-button">
						<button class="btn btn-primary btn-block btn-lg" id="register-buttons-password" type="submit">
							Sign up
						</button>
					</div>
		   </form>
		</div> 
	{{else}}
		{{> signupSuccess}}
	{{/unless}}
</template>


