.signup {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
	form input {
		margin-bottom: 10px;
	}
	span {
		font-size: 20px;
		display: block;
		padding: 10px;
	}
	button { //this is just btn-lg
		    padding: 10px 16px;
		    font-size: 18px;
		    line-height: 1.3333333;
		    border-radius: 6px;
	}
}