<template name="terms">
	<div class="main-container mini bottom"> 
		<h3>Terms of Service</h3>
	</div>
	<div class="main-container feature bottom faq">
		<div class="question">
			<h5>Your Account</h5>
			<p>
				You are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with it. You must not use your account in a misleading or unlawful manner, including in a manner intended to trade on the name or reputation of others, and {{siteName}} may change or remove any description or keyword that it considers inappropriate or unlawful, or otherwise likely to cause {{siteName}} liability. You must immediately notify {{siteName}} of any unauthorized uses of your account or any other breaches of security. {{siteName}} will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.
				<br><br>
				Without limiting any of those representations or warranties, {{siteName}} has the right (though not the obligation) to, in {{siteName}}’s sole discretion (i) refuse or remove any content that, in {{siteName}}’s reasonable opinion, violates any {{siteName}} policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the Website to any individual or entity for any reason, in {{siteName}}’s sole discretion. {{siteName}} will have no obligation to provide a refund of any amounts previously paid.
				<br><br>
				{{siteName}} is intended for personal, non-commercial use only. The unauthorized commercial use of {{siteName}} is prohibited. {{siteName}} reserves all its rights in the event of a violation of this policy, which may include discontinuation of the subscription itself, suspension of your privileges as a user, and enforcement of {{siteName}}’s rights under law and equity.
			</p>
		</div>
		<div class="question">
			<h5>Changes</h5>
			<p>
				{{siteName}} reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes. {{siteName}} may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.
			</p>
		</div>
		<div class="question">
			<h5>Termination</h5>
			<p>
				{{siteName}} may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your account (if you have one), you may simply discontinue using the Website. Notwithstanding the foregoing, if you have a Services account, such account can only be terminated by {{siteName}} if you materially breach this Agreement and fail to cure such breach within thirty (30) days from {{siteName}}’ notice to you thereof; provided that, {{siteName}} can terminate the Website immediately as part of a general shut down of our service. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
			</p>
		</div>
		<div class="question">
			<h5>Limitation of Liability</h5>
			<p>
				In no event will {{siteName}}, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement or substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that increase the fees paid by you to {{siteName}} under this agreement during the twelve (12) month period prior to the date the cause of the action accrues. {{siteName}} shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
			</p>
		</div>
	</div>
</template>