<template name="feed">
	<div class="main-latest">
        {{#each newest5}}
            {{> rundownItem data=this showHeader=true}}
        {{else}}
        	<div>
        		<a class="btn btn-primary btn-lg main-btn" id="register-buttons-password" href="{{pathFor 'wrapSubmit'}}">Add A Yearly</a>
        	</div>
        {{/each}}
        {{#if showMore}}
        <a href="#" id="moreLatest" class="top-wrap-item">More...</a>
        {{/if}}
    </div>
</template>