<template name="chat">
    <div class="chat" >
    	<div class="chat-circle">
			<a href="{{pathFor 'userWraps'}}" title="{{author}} - profile">
				<div class="circle" style="{{#if color}}background-color:{{color}};{{/if}}">{{firstLetter author}}
					<div class="user-info">
					</div>
				</div>
			</a>
		</div>
		<a href="{{#with data}}{{pathFor 'wrapPageUserNoId'}}{{/with}}">
			<p class="bubble" style="{{#if color}}background-color:{{color}};border-color: transparent {{color}};{{/if}}">
				{{#if html}}
					{{{comment}}}
				{{else}}
					{{comment}}
				{{/if}}
			</p>
		</a>
    </div>
</template>