.user-info{ 
	display: none;
	background-color: blue;
	width: 50px;
	height: 50px;
}

.chat-circle {
	height: 40px;
	min-width: 40px;
	font-size: 30px;
	margin-bottom: 10px;
}
// .circle:hover .user-info{
// 	display : inline;
// }

