<template name="heartItem">
  {{#with heart}}
    
    <div class="heart">
      <button type="button" class="btn btn-default {{#if hearted}}hearted{{/if}}" aria-label="Left Align" id="heart">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      </button>
      <div class="people" id="people" hover="hihi">
        {{#unless noLove this.count}}
            <div class="number">
              {{this.count}} {{#if oneLove this.count}}person{{else}}people{{/if}}
            </div>
            <div class="authors">{{heartAuthors}}</div>

            <span class="glyphicon glyphicon-heart {{#if oneLove this.count}}oneheart-glyph{{/if}}" aria-hidden="true"></span>
            {{#if oneLove this.count}}'s{{/if}} this
        {{/unless}}
      </div>
    </div>
  {{else}}
    bye
  {{/with}}
</template>