.heart{
	padding-top:10px;
	display: flex;
	align-items: center;
	height: 50px;
	width: inherit;

	button {
		min-width: 40px;
	}
}

.oneheart-glyph {
	margin-right:-3px;
}

.hearted{
	border-color:red;
	span {
		color:red;
	}
}

.authors{ 
	display: none;
}

.heart:hover .authors{
	display : inline;
}

.heart:hover .number{
	display : none;
}

.number{
	display: inline;
}

.people{
	padding-left:5px;
	display:inline;
}