.rundown-li {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rundown-span {
	text-align: center;
	height: 40px;
	display: flex;
	align-items: center;
}

.rundown-buy {
	padding-top: 22px;
    font-size: initial;
}

.rundown-button-box {
	padding-top: 4px;
	display: flex;
	justify-content: space-around;
	width: 200px;
}