<template name="itunesFaves">
    <div class="faves">
        <ul class="list-group">
        	{{#each favoriteTracks}}
        		{{#with itunesTrack this ..}}
        			<li class="list-group-item box">
        				<span class="left">{{trackName}}</span>
        				<button type="button" class="btn btn-default right" id="play">
    					  <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    					  <audio class="audio" preload="none" src="{{data.previewUrl}}" id="play{{id}}"></audio>
    					</button>
                        {{> itunesBuyUrl url=data.trackViewUrl ct='submit'}}
    				</li>
        		{{/with}}
        	{{/each}}
        </ul>
    </div>
</template>