<template name="itunesBuyUrl">
	{{#if url}}
		<a class="{{class}}" href="{{url}}&at={{itunesAffiliate}}&app=itunes&ct={{ct}}" target="_blank">Buy</a>
	{{else}}
		<a class="{{class}}" href="#" id="noUrl">Buy</a>
	{{/if}}
</template>