<template name="itunesRundownFaves">
    <div>
        <ul class="list-group">
        	{{#with favoriteTracks}}
        		{{#with itunesTrack this ..}}
        			<li class="rundown-li">
        				<span class="rundown-span">{{trackName}}</span>
                        <div class="rundown-button-box">
                            <button type="button" class="btn btn-default" id="backward">
                              <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                            </button>

                            <button type="button" class="btn btn-default" id="play">
                              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                              <audio class="audio" preload="none" src="{{data.previewUrl}}" id="play{{id}}"></audio>
                            </button>

                            <button type="button" class="btn btn-default" id="forward">
                              <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                            </button>
                        </div>
                        {{> itunesBuyUrl class='rundown-buy' url=data.trackViewUrl ct=instance.data._id}}
    				</li>
        		{{/with}}
        	{{/with}}
        </ul>
    </div>
</template>