.col-centered{
    float: none;
    margin: 0 auto;
}

.embed-container {
    position: relative;
    padding-bottom: 19.25%;
    height: 0;
    overflow: hidden;
    max-width: 600px;
    min-height: 200px;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
}

.box:hover{
background: #c5e3ed; /* make this whatever you want */
}

.spinBox{
    height: 100px;
    width: 100px;
}

.spinBox div{
    position: relative;
}

img {
    display: block;
    height: auto;
    width: 100%;
    /*border-radius: 3%;*/
}

.test {
    display: block;
    width: 0;
    left: -10px;
    top: 50%;
}

/*.footer {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 20px;
  font-size: 14px;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}


.chat {
    display:flex;
    max-width:600px;
    align-items: center;
    margin-top: 10px;
    a {
      text-decoration: none;
    }
    word-break: break-word;
    word-wrap: break-word;
}


.bubble 
{
position: relative;
max-width: 540px;
min-height: 55px;
padding: 4px;
background: #38a9e4;
border-color: transparent #38a9e4;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
/*text stuff*/
padding: 10px 10px 0px 20px;
font-size: 25px;
color: #FFFFFF;
// font-family: Helvetica, Arial Black, sans;
margin-left: 20px;
display: inline-block;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 10px 10px 0;
border-color: inherit;
display: block;
width: 0;
z-index: 1;
margin-top: -10px;
left: -10px;
top: 50%;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  box-shadow: 0 4px 0 0 rgba(0, 0, 0, .1);
  text-shadow: 0 4px 0 rgba(0, 0, 0, .1);
  background: #38a9e4;
  color: white;
  height: 100%;
  width: 100%;
}

.faves {
  ul {
    display: flex;
    max-width: 600px;
    flex-direction: column;
  }
  
  li {
    display: flex;
    align-items: center;
  }

  a {
    margin-left: 10px;
  }

  /* On the flex item to pin */
  .left {
     // align-self: flex-start;
  }

  .right {
     margin-left: auto;
  }
}

.type-icon {
  font-size: 50px;
  text-align: center;
}

.wrap-content {
  max-width: 600px;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
  letter-spacing: 1px;
}

.scroll-wrap {
  // margin: 0 auto;
  // text-align: center;
  // img {
  //   display: initial;
  // }
  display: flex;
  align-items: center;
  // height: 100px;
  padding-bottom: 10px;
  div {
    padding-left: 10px
  }
  img {
    width: initial;
  }
}

.scroll-picked {
  height: 100px;
  display: flex;
  align-items: center;
  img {
    width: 50px;
  }
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.layout-padding {
  padding-bottom: 50px;
}

.explicit {
  border: 1px solid #ddd;
  padding: 4px;
  font-size: 8px;
  border-radius: 4px;
}