<template name="rundownItem">
	<div class="boxRundown">
        {{#with data}}
            <!-- <h3>{{getTypeName type}}</h3> -->
            {{#if showHeader}}
                <h5><a href="{{pathFor 'userWraps'}}">{{getAuthor}}</a> - {{getYear}}</h5>
            {{/if}}
            <a href="{{pathFor 'wrapPageUserNoId'}}" class="darken">
            	<div class="image rundown-item-image {{#if equalObject type 'music'}}music-img{{/if}}">
                    <!-- <div class="type-icon"> -->
                        <span id="type{{_id}}" class="fa {{getTypeIcon type}} rundown-item-type" title="{{getTypeName type}}"></span>
                    <!-- </div> -->
            		<img src="{{image}}" class="{{#if equalObject type 'tv'}}tv-img{{/if}}">
	        		<span id="{{_id}}" class="rundown-item-comment">
                        <p>
                            {{header}}
                        </p>
                        <br>
                        <p>
                            {{comment}}
                        </p>
            		</span>
            	</div>
            </a>
                {{#if equalObject type 'music'}}
                    <div class="rundown-item-music-faves">
                        {{> itunesRundownFaves}}
                    </div>
                {{else}}
                    <div class="rundown-buy-div">
                        {{> itunesBuyUrl class='rundown-buy' url=buyUrl ct=_id}}
                     </div>
                {{/if}}
            {{> heartItem}} 
        {{/with}}
    </div>
</template>