<template name="rundown">
  <h1>THE RUNDOWN</h1>
  <p style="font-size:larger;">All your friend's favorites in one place.</p>
  {{#with albumRundown}}
  <h3>Albums</h3>
  <div class="col-centered">
    {{#each albumRundown}}
        {{> rundownItem}}
	 {{/each}}
   </div>
   {{#with comboFavorites}}
   <h4 style="clear:left;padding-top:15px;">Everyone's favorite tracks</h4>
   <div style="max-width:600px;height:680px;clear:left;" class="embed-container">
    
    {{{getSpotifyIframe comboFavorites}}}</div>
  {{/with}}
  {{/with}}
{{#with movieRundown}}
<br>
  <h3>Movies</h3>
	{{#each movieRundown}}
      {{> rundownItem}}
	{{/each}}
<br>
{{/with}}
{{#with tvRundown}}
<div style="clear:left;padding-top:15px;">
  <h3>TV Shows</h3>
	{{#each tvRundown}}
      {{> rundownItem}}
	{{/each}}
  </div>
{{/with}}
</template>