.boxRundown {
  display: inline-block;
  width: 200px;
  /*height: 100px;*/
  margin: 0.88em;
  text-align: left;
  overflow: hidden; //needed for firefox to render correctly
}

a.darken {
    display: block;
    background: black;
    padding: 0;
}

a.darken img {
    display: block;
/*
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;*/
}

a.darken:hover img {
  @media (min-width: 768px) {
    opacity: 0.3;
  }
}

/*span.darken { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}*/

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.image span { 
   position: absolute; 
   top: 0px; 
   left: 0; 
   width: 100%;
   color: white;
   font-size: 30px;
   overflow-wrap: break-word;
}