.rundown-item-image {
	height: 300px;
	overflow: hidden;
	img {
		height: 100%;
	}
}

.tv-img {
	height: 100%;
}

.music-img {
	height: 200px;
}

.rundown-item-comment {
	display: none;
	padding-left: 5px;
	p {
		word-wrap: break-word;
	}
}

.rundown-item-music-faves {
	height: 122px;
	// overflow: hidden;	
}

.rundown-item-type {
	text-align: right;
	padding-right: 5px;
	padding-top: 5px;
}

.rundown-buy-div {
	text-align: center;
}