<template name="top">
	<div class="controls">
		<div class="wrap-content">
			<select name="year" id="year" type="text" value="" class="form-control">
				<option value="*" selected>All Time</option>
				{{#each year}}
					<option value="{{this}}">{{this}}</option>
				{{/each}}
			</select>
		</div>
    </div>
    {{#if loaded}}
	<div>
		<h2>Top 5 Albums</h2>
		{{> top5 music}}

		<h2>Top 5 Movies</h2>
		{{> top5 movie}}

		<h2>Top 5 TV Shows</h2>
		{{> top5 tv}}
	</div>
	{{else}}
	<div class="spinBox">{{> spinner}}</div>
	{{/if}}
</template>

<template name="top5">
	{{#with this}}
		<div class="top_container">
			{{#each this}}
				<div class="top_box">
					{{> topWrapItem}}
				</div>
			{{/each}}
		</div>
	{{else}}
		<h4>Sorry not enough yearlies yet.</h4>
	{{/with}}
</template>