.top_container {
	display: flex;
	// justify-content: center;
	flex-wrap: wrap;
}

.top_box {
	width: 300px;
	vertical-align: top;
	margin: 10px;
}

.large {
		width: 600px;
	}
	
.top_comments {
	// height:200px;
	padding-top: 10px;
}