.top-wrap-item {
		text-align: center;
		display: inherit;
}

.top-wrap-item-header {
	height: 57px;
	font-size: 20px;
	overflow: hidden;
	position: relative;
	// a {
	// 	position: absolute;
	// 	bottom: 0px;
	// }
}