<template name="topWrapItem">
    	{{#with wrap}}
    	<div class="top-wrap-item-header">
			<a href="{{pathFor 'topSingleItem'}}" class='header'>{{header}}</a>
		</div>
		<a href="{{pathFor 'topSingleItem'}}">
			<div class="image"><img src="{{image}}"><span id="{{_id}}" style="display:none;">{{year}}</span></div>
		</a>
		{{#if compareType 'music'}}
		<!-- <div  class="embed-container">
			{{#with spotify}}
				{{{getSpotifyIframe favoriteTracks}}}
			{{/with}}
		</div> -->
		<div class="rundown-item-music-faves">
            {{> itunesRundownFaves}}
        </div>
        {{else}}
        	<div class="rundown-buy-div">
				{{> itunesBuyUrl class='rundown-buy' url=buyUrl ct=_id}}
			</div>
		{{/if}}
		<div class="top_comments">
			{{#each clip ../comments}}
				{{#unless isLarge}}
					{{>chat author=author comment=commentSnippet color=color data=this}}
				{{else}}
					{{>chat author=author comment=comment color=color data=this}}
				{{/unless}}
			{{/each}}
			{{#unless isLarge}}
				{{#if lengthMoreThan ../comments 3}}
				<a href="{{pathFor 'topSingleItem'}}" class="top-wrap-item">view all {{../comments.length}} comments</a>
				{{/if}}
			{{/unless}}
		</div>
		{{/with}}
</template>