<div class="main-container feature bottom">
	<h2>Please confirm your {{siteName}} email address</h2>
	<p>
		Click <a href="{{url}}">here</a> to confirm your email address.
		<!-- <br><br> -->
		<!-- <br><br> -->
	</p>
	<a href="{{url}}" class="btn btn-lg btn-primary main-email-button">Confirm Email</a>
	<p>
		You can also paste this link into your browser.
		<br><br>
		{{url}}
	</p>
	{{> signature}}
</div>
