{{{getDocType}}}
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
      {{css}}
    </style>
  </head>
  <body>
    <div class="main-container main-mini bottom">
      <a href="{{url}}"><img src="{{url}}/images/email/logo.png" class="image-cover main-logo"></a>
      <a href="{{url}}" style="text-decoration:none;" class="social"><h1>{{siteName}}</h1></a>
      <h3>
        Share your favorite movie, album and tv show.
      </h3>
    </div>
    <div id="content">
      {{> Template.dynamic template=template data=data}}
    </div>
    <div class="main-container main-mini">
      <div class="social-div">
        <a href="https://www.twitter.com/yearliesapp" style="float:left;" target="_blank"><img src="{{url}}/images/email/twitter.png"></a>
        <a href="https://www.facebook.com/theyearlies" target="_blank"><img src="{{url}}/images/email/facebook.png"></a>
        <a href="https://www.instagram.com/theyearlies" style="float:right;" target="_blank"><img src="{{url}}/images/email/instagram.png"></a>
      </div>
      <div class="footer">
        <footer>
          <a href="https://docs.google.com/forms/d/1yPd27aDFgA0fWdGV-D-A7X1rhpXhmgHzf7kO0lFxiKY">Feedback</a>
        |
          <!-- <a href="{{url}}{{pathFor 'terms'}}">Terms of Service</a> -->
        |
          <!-- <a href="{{url}}{{pathFor 'copyright'}}">© {{siteName}}</a> -->
        </footer>
      </div>
    </div>
  </body>
</html> 