<div class="main-container feature bottom">
	<h2>You've got a new follower!</h2>
	<p>
		{{username}} is now following you.
	</p>
	<a href="{{absoluteUrl}}" class="btn btn-lg btn-primary main-email-button">Go to {{siteName}}</a>
	{{> signature}}
</div>
