<div class="service">
    <!-- <div> -->
        <!-- <img class="service-img" src="{{url}}/images/hbogo.png">
        <img class="service-img" src="{{url}}/images/hbonow.png">
        <img class="service-img" src="{{url}}/images/huluplus.png"> -->
    <!-- </div>
    <div> -->
        <!-- <img class="service-img" src="{{url}}/images/hulushowtime.png">
        <img class="service-img" src="{{url}}/images/netflix.png">
        <img class="service-img" src="{{url}}/images/showtime.png"> -->
    <!-- </div> -->
    <img class="service-img" src="{{url}}/images/email/services.gif">
</div>