
html {
  position: relative;
  min-height: 100%;
}
body {

  margin-top: 20px;
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  top:80px;
  bottom: 0;
  width: 100%;

  height: 80px;

  text-align: center;

}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 10px;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.main-container {
    display: block;
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    /*overflow: hidden;*/
    color: #2B8E55;
}

.main-container p {
  margin-top:10px;
  margin-bottom:10px;
}

.image-cover {
    position: inherit;
    margin: auto;
    top: 150px;

}

.main-logo {
    top: 0px;
    height: 75px;
    margin-bottom: -10px;
}

h1 {
    font-size: 40px;
}

.social {
    font-size: 50px;
    color: #2B8E55;
}

.social:hover {
    text-decoration: none;
    color: #2B8E55;
}

.social:link {
    text-decoration: none;
}

.social:visited {
    color: inherit;
    text-decoration: none;
}

.social:active {
    text-decoration: none;
}

.social-div {
  max-width: 200px;
  margin: 0 auto;
  height: 65px;
  padding-top: 15px;
}

.call-to-action {
    max-width: 570px;
    margin: inherit;
}

.bottom {
    border-bottom: 1px solid #2B8E55;
}

.mini {
    min-height: 100px;
}

.feature {
    min-height: 300px;
}

.main-jumbo {
    min-height: 450px;
}

.number {
    display: block;
    position: absolute;
    width: 77px;
    height: 77px;
    top: 50px;
    left: 50%;
    margin: 0 0 0 -37px;
}

.main-textbox {
    display: block;
    width: 90%;
    left: 5%;
    position: inherit;
    text-align: center;
    top: 165px;
}

.main-textbox p {
    display: block;
    position: relative;
    max-width: 460px;
    margin: 20px auto 0;
    font-size: 18px;
}

.carousel-image {
  width: 300px;
  height: 225px;
  max-height: 225px;
  margin: auto;
}

.services {
    top: 170px;
    height: 140px;
}

.service {
    max-width: 500px;
    /*height: 300px;*/
    margin: 0 auto;
}
.service-img {
    /*width: auto;
    max-height: 30px;
    min-height: 15px;*/
    position: relative;
}

.carousel-indicators li {
  background-color: #2B8E55;
  border: none;
}

.carousel-indicators .active {
  background-color: #2B8E55;
}

.carousel-controls{
 position:relative; 
  width:300px;
  margin:0 auto;
  top: 115px;
}

.carousel-controls span {
  color: #2B8E55;
}

.carousel-indicators{
   top:0px; 
}
  
p {
  margin:0; 
  padding:0; 
  margin-bottom:0;
}


