<div class="main-container feature bottom">
	<h2>Thanks for joining {{siteName}}!</h2>
	<p>
		We can't wait for you to start adding your yearlies and sharing your favorites. We think you're going to like it here :) 
	</p>
	<a href="{{absoluteUrl}}" class="btn btn-lg btn-primary main-email-button">Go to {{siteName}}</a>
	{{> signature}}
</div>
