<template name="close_button">
	{{#unless hasId}}
		<button type="button" class="btn btn-default" aria-label="Left Align" id="close">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</button>
	{{/unless}}
</template>