<template name="movie_wrap">
	{{#unless wrapChosen}}
		<div class="form-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input name="name" id="name" type="text" value="" placeholder="My Week With Marylin" class="form-control"/>
			</div>
		</div>
	{{#each stuff}}
		<div id="movie" class="scroll-wrap box">
			<img src="{{image}}"><div><h4>{{name}}</h4></div>
		</div>
	{{/each}}
	{{else}}
		{{#with pickedMovie}}
			{{> close_button}}
			<h3>{{name}}</h3>
			<i>Release date: {{prettyTime release_date}}</i>
			<br>
			<img src="{{image}}">
		{{/with}}
		{{> wrap_comment comment=comment placeholder='A movie about the human side and struggles of a movie icon'}}
	{{/unless}}
</template>