<template name="music_wrap">
	{{#unless wrapChosen}} 
	<div class="form-group">
		<label class="control-label" for="name">Artist</label>
		<div class="controls">
		    <input name="name" id="name" type="text" value="" placeholder="Fleet Foxes" class="form-control" autocomplete="off"/>
		</div>
	</div>
	{{#each stuff}}
    <div id="artist" class="scroll-wrap box">
      <img src="{{image}}"><div><h4>{{name}}</h4></div>
    </div>
    {{/each}}
	{{> music_album_wrap}}
	{{else}}
		{{#with pickedAlbum}}
			{{> close_button}}
			<h3>{{artist.name}} - {{collectionName}}</h3>
			<i>Release date: {{prettyTime releaseDate}}</i>
			<br>
			<img src="{{image}}">
			{{#with hasFavoriteTracks}}
				<!-- {{#with spotify.favoriteTracks}}
					<div class="embed-container">{{{getSpotifyIframe this}}}</div>
					{{else}}
				{{/with}} -->
				{{> itunesFaves ..}}
				
				<a href="#" id="repick">Repick top 3 tracks</a>
			{{else}}
				<!-- {{#if spotify.tracks}}
					{{> tracks data=spotify}}
				{{else}}
					<h5>iTunes</h5>
				{{/if}} -->
				{{> tracks data=itunes}}
		    {{/with}}
		{{else}}
			<div class="spinBox">{{> spinner}}</div>
		{{/with}}
		{{> wrap_comment comment=comment placeholder='A coming of age album that sweetly captures the essence of childhood but also mortality.'}}
	{{/unless}}
</template>

<template name="tracks">
	<div>
		<h3>Pick top 3 Tracks</h3>
	    <ul class="list-group">
	    	{{#each data.tracks}}
	    		<li id="track" class="list-group-item box"><b>{{number}}.</b> {{name}}</li>
	    	{{/each}}
	    </ul>
	</div>
</template>