<template name="music_album_wrap">
  {{#if displayAlbum}}
	<div>
		<ul class="list-group scrollable-menu">
			{{#each albums}}
				<li class="list-group-item box scroll-wrap" id="ddl"><img src="{{image}}">
					<div>
						<h4>{{collectionName}}</h4>
						{{releaseDate}} {{#if equalObject collectionExplicitness 'explicit'}}<span class="explicit">EXPLICIT</span>{{/if}}
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
{{/if}}
</template>