<template name="tv_season_wrap">
  {{#if displaySeason}}
  <div>
    <ul class="list-group scrollable-menu">
      {{#each seasons}}
        {{#if air_date}}
        <li class="list-group-item box scroll-wrap" id="ddl">
          <img src="{{image}}">
          <div>
            <h4>
              Season {{season_number}}
            </h4>
            <p>
              Started airing: {{prettyTime air_date}}
            </p>
          </div>
        </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  {{/if}}
</template>