<template name="tv_wrap">
	{{#unless wrapChosen}}
	<div class="form-group">
		<label class="control-label" for="name">Name</label>
		<div class="controls">
		    <input name="name" id="name" type="text" value="" placeholder="Game of Thrones" class="form-control" autocomplete="off"/>
		</div>
	</div>
	{{#each stuff}}
    <div id="show" class="scroll-wrap box">
		<img src="{{image}}"><div><h4>{{name}}</h4></div>
	</div>
    {{/each}}
	{{> tv_season_wrap}}
	{{else}}
		{{#with pickedShow}}
			{{> close_button}}
			<h3>{{show.name}} - Season {{season_number}}</h3>
			<i>Started airing: {{prettyTime air_date}}</i>
			<br>
			<img src="{{image}}">
		{{/with}}
		{{> wrap_comment comment=comment placeholder='A fantasy at the fringes show about life in kingdoms far away.'}}
	{{/unless}}
</template>