<template name="wrap_comment">
	<div class="form-group">
		<label class="control-label" for="comment">Comment</label>
		<div class="controls">
		    <input name="comment" id="comment" class="form-control" type="text-box" value="{{comment}}" placeholder="{{placeholder}}" maxlength="{{maxlength}}"/>
		    <span><p style="display:inherit;" id="commentLength"></p>/{{maxlength}}</span>
		</div>
	</div>
</template>