<template name="wrapSubmit">
  <div class="wrap-content">
    <form class="main form">
      <div class="form-group">
        <label class="control-label" for="type">Type</label>
        <div class="controls">
            <select name="type" id="type" type="text" value="" class="form-control">
              <option value="" selected>Select a type</option>
              {{#each type}}
              <option value="{{id}}">{{name}}</option>
              {{/each}}
            </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="year">Year</label>
        <div class="controls">
            <select name="year" id="year" type="text" value="" class="form-control" disabled="true">
              <option value="" selected>Select a year</option>
              {{#each year}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
        </div>
      </div>
      {{#with yearSelected}}
        {{#if equalObject typeDDL 'tv'}}
          {{> tv_wrap}}
        {{/if}}

        {{#if equalObject typeDDL 'movie'}}
          {{> movie_wrap}}
        {{/if}}

        {{#if equalObject typeDDL 'music'}}
          {{> music_wrap}}
        {{/if}}
        
        {{#if wrapChosen}}
          <input type="submit" value="Submit" class="btn btn-primary"/>
        {{/if}}
      {{/with}}
    </form>
  </div>
</template>