<template name="wrap_item">
  <div class="wrap">
    <div class="wrap-content">
    	<!-- <h2>{{getTypeName type}}</h2> -->
      <div class="type-icon">
          <!-- <span class="fa {{getTypeIcon type}}" title="{{getTypeName type}}"></span> -->
          <h2>{{getTypeName type}}</h2>
      </div>
      <h3><a href="{{pathFor 'wrapPageUserNoId'}}">{{header}}</a></h3>
      <h5><a href="{{pathFor 'userWraps'}}">{{author}}'s</a> {{year}} {{getTypeName type}} of the year {{#if ownPost}}<a href="{{pathFor 'wrapEdit'}}">Edit</a>{{/if}}</h5>
      <img src="{{image}}"> 
      <!-- {{#with spotify.favoriteTracks}}
        <div class="embed-container">{{{getSpotifyIframe this}}}</div>
      {{/with}} -->
      {{#if equalObject type 'music'}}
        {{> itunesFaves this}}
      {{else}}
        <div class="rundown-buy-div">
          {{> itunesBuyUrl class='rundown-buy' url=buyUrl ct=_id}}
        </div>
      {{/if}}
      {{#with comment}}
        {{>chat comment=this author=author}}
      {{/with}}
      {{> heartItem}}
    </div>
  </div>
</template>