<template name="wrapEdit">
  <div class="wrap-content">
    <form class="main form">
      <!-- {{#with wrap}}{{log}} -->
      <h2>Your {{year}} {{getTypeName type}} of the year</h2>
      {{#if equalObject type 'tv'}}
        {{> tv_wrap}}
      {{/if}}

      {{#if equalObject type 'movie'}}
        {{> movie_wrap}}
      {{/if}}

      {{#if equalObject type 'music'}}
        {{> music_wrap}}
      {{/if}}
      <!-- {{/with}} -->
      
      <input type="submit" value="Submit" class="btn btn-primary submit"/>
      <a class="btn btn-danger delete" href="#">Delete</a>
    </form>
  </div>
</template>