<template name="yearlyWrap">
	<div class="user-wraps-years">
			<div class="main-latest">
				<h1 style="{{pantone year}}font-size:75px;">{{year}}</h1>
				<div class="user-wraps-year-wraps">
				{{#each wraps}}
					{{> rundownItem data=this}}
				{{/each}}
				</div>
			</div>
	</div>
</template>