.user-wraps-column-wrapper {
	display: flex;
}

.user-wraps-left-column {
	width: 25%;
}

.user-wraps-right-column {
	width: 75%;
}

.user-wraps-profile {
	display: flex;
	align-items: center;
	height: 100px;
    a {
      text-decoration: none;
    }
}

.user-wraps-first-letter {
	width: 100px;
	height: 100px;
	font-size: 60px;
}

.user-wraps-year-wraps {
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
}

.user-wraps-info {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	padding-left: 10px;
}

.user-wraps-icon {
	max-width: 300px;
	display: inline-block;
}

.user-wraps-username {
	display: flex;
	align-items: center;
	button {
		margin-top: 10px;
		margin-left: 10px;
	}
}

.user-wraps-stats {
	display: flex;
	justify-content: space-between;
	width: 200px;
	div {
		display: inline-block;
	}
}

.user-wraps-settings {
	height: 17px;
	padding-left: 5px;
}

.user-wraps-year-url {
	color: inherit;
	&:hover, &:focus {
		color: inherit;
		text-decoration: none;
	}
}