<template name="userWraps">
	{{#with user}}
		<div class="user-wraps-wrapper">
			<div class="user-wraps-profile">
				<div class="user-wraps-icon">
					<div class="user-wraps-first-letter">
						<a href="{{pathFor 'userWraps' author=username}}" title="{{username}} - profile">
							<div class="circle">{{firstLetter username}}
							</div>
						</a>
					</div>
				</div>
				<div class="user-wraps-info">
					<div class="user-wraps-username">
						<h1>{{username}}</h1>
						{{#unless equalObject currentUser._id _id}}
							<button type="button" class="btn btn-default" aria-label="Left Align" id="add">
								{{#if areFriends}}UN{{/if}}FOLLOW
							</button>
						{{else}}
							<div class="user-wraps-settings">
							<a class="btn btn-default" aria-label="Left Align" href="{{pathFor 'userSettings'}}">
								Settings
							</a>
							</div>
						{{/unless}}
					</div>
					<div class="user-wraps-stats">
						<div class="user-wraps-yearlies">
							<p class="bold">{{wrapCount}}</p>
							<p>Yearlies</p>
						</div>
						<div class="user-wraps-followers">
							<p class="bold">{{followerCount}}</p>
							<p>Followers</p>
						</div>
						<div class="user-wraps-following">
							<p class="bold">{{followingCount}}</p>
							<p>Following</p>
						</div>
					</div>
				</div>
			</div>
			<div class="user-wraps-years">
				{{#each years}}
					<div class="main-latest">
						<a href="{{pathFor 'yearlyWrap' author=author year=this}}" class="user-wraps-year-url"><h1 style="{{pantone this}}font-size:75px;">{{this}}</h1></a>
						<div class="user-wraps-year-wraps">
						{{#each yearWraps this ../..}}
							{{> rundownItem data=this}}
						{{/each}}
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	{{/with}}
</template>