<template name="userSettings">
	<div class="wrap-content">
		<h1>Settings</h1>
		<form class="main form">
			<div class="form-group">
				<label for="username">{{#if fbAccount}}Facebook {{/if}}Email</label>
				<input type="text" class="form-control" id="email" placeholder="Please enter an email address" value="{{userEmail}}" disabled="{{#if fbAccount}}true{{/if}}">
				<span>We don't share this with anyone.</span>
			</div>
			<input type="submit" value="Update" class="btn btn-primary"/>
			<span class="fa fa-check-circle user-settings-success" id="success">&nbsp;Updated settings!</span>
		</form>
	</div>
</template>