<template name="userMissingFields">
	<div class="wrap-content">
		<h1>First things first</h1>
		<form class="main form">
			<div class="form-group">
				<label for="username">Username</label>{{log user}}
				<input type="text" class="form-control" id="username" placeholder="Please enter a username" value="{{twitterHandle}}">
				<span>Make it good. You can't change it 😀</span>
			</div>
			<div class="availability">
				<div class="yes"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> available</div>
				<div class="no"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> not available</div>
			</div>
			<input type="submit" value="Set Username" class="btn btn-primary"/>
		</form>
	</div>
</template>