<template name="footer">
	<footer>
		<span>
			{{#if currentUser}}
				<a href="{{pathFor 'wrapSubmit'}}">Add A Yearly</a>
				 | 
		 	{{/if}}
			<a href="{{pathFor 'top'}}">Top</a>
			 | 
			<a href="{{pathFor 'about'}}">About</a>
		</span>
        <br>
		<span style="font-size:12px;">
			<a href="{{pathFor 'terms'}}">Terms of Service</a>
			|
			<a href="{{pathFor 'privacy'}}">Privacy</a>
			|
        	<a href="{{pathFor 'copyright'}}">© {{siteName}}</a>
    	</span>
    </footer>
</template>