<template name="header">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{siteName}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          {{#if currentUser}}
          <li><a href="{{pathFor 'wrapSubmit'}}">Add A Yearly</a></li>
          <li id="yearlies-dropdown-list" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Your Yearlies      
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              {{#with yearlies}}
              {{#each yearlies}}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{path}}">{{year}} - Total: {{count}}</a></li>
              {{/each}}
              {{else}}
              <p style="text-align:center;">add a Yearly first :)</p>
              {{/with}}
            </ul>
          </li>
          <li><a href="{{pathFor 'feed'}}">Feed</a></li>
          {{/if}}
          <!-- <li><a href="{{pathFor 'rundown'}}">Rundown</a></li> -->
          <li><a href="{{pathFor 'top'}}">Top</a></li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{{pathFor 'about'}}">About</a></li>
          <!--{{#unless currentUser}}-->
            {{> loginButtons}}
          <!--{{else}}-->
            <!--{{> loggedinButtons currentUser}}-->
          <!--{{/unless}}-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{{> signup_modal}}
</template>

<template name="loggedinButtons">
  <li id="login-dropdown-list" class="dropdown open">
		<a class="dropdown-toggle">{{username}} <b class="caret"></b></a>
		<div class="dropdown-menu">
		<button class="btn btn-default btn-block" id="login-buttons-open-settings">Settings</button>
	<button class="btn btn-block btn-primary" id="login-buttons-logout">Sign out</button>
		</div>
	</li>
</template>